*~

src/ConfigurablesSample/Library
src/ConfigurablesSample/Logs
src/ConfigurablesSample/.vscode
src/ConfigurablesSample/UserSettings
src/ConfigurablesSample/Temp
src/ConfigurablesSample/*.csproj
src/ConfigurablesSample/*.sln
